.background{ 
    width: 100%;
    height: 95vh;
    background-image: url(../Assets/Img/img9.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}